@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-text-base: theme(colors.gray.900);
  --color-text-subtle: theme(colors.stone.500);
  --color-text-muted: theme(colors.stone.600);
  --color-text-inverted: theme(colors.stone.100);
  --color-bg-base: theme(colors.stone.200);
  --color-bg-muted: theme(colors.stone.300);
  --color-bg-alt: theme(colors.stone.300);
  --color-bg-gradient-end: theme(colors.stone.400);
  --color-border: theme(colors.stone.400);
  --color-border-subtle: theme(colors.stone.400);
  --color-link-active: theme(colors.blue.700);
  --color-link-hover: theme(colors.blue.800);
  --color-primary: theme(colors.blue.600);
  --color-accent-base: theme(colors.blue.700);
  --color-accent-hover: theme(colors.blue.800);
  --color-ring-offset-background: theme(colors.stone.200);
}

@layer base {
  @variant dark {
    --color-text-base: theme(colors.gray.100);
    --color-text-subtle: theme(colors.slate.500);
    --color-text-muted: theme(colors.slate.400);
    --color-text-inverted: theme(colors.slate.950);
    --color-bg-base: theme(colors.slate.950);
    --color-bg-muted: theme(colors.slate.900);
    --color-bg-alt: theme(colors.slate.900);
    --color-bg-gradient-end: theme(colors.slate.800);
    --color-border: theme(colors.slate.600);
    --color-border-subtle: theme(colors.slate.600);
    --color-link-active: theme(colors.blue.400);
    --color-link-hover: theme(colors.blue.300);
    --color-primary: theme(colors.blue.500);
    --color-accent-base: theme(colors.blue.400);
    --color-accent-hover: theme(colors.blue.300);
    --color-ring-offset-background: theme(colors.slate.950);
  }
}
