---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About">
	<h1 slot="left">About</h1>
	<main>
		 Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum repudiandae corporis eveniet rem possimus hic ducimus ipsam totam voluptatibus aperiam enim, numquam, natus porro, minima saepe in. Temporibus, cupiditate laboriosam.
	</main>
</Layout>
