---
import Layout from '../layouts/Layout.astro'; 
---

<Layout title="About"> 
	<main>
		 Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum repudiandae corporis eveniet rem possimus hic ducimus ipsam totam voluptatibus aperiam enim, numquam, natus porro, minima saepe in. Temporibus, cupiditate laboriosam.
		 <h1>The current URL is: {Astro.url}</h1>
<h1>The current URL pathname is: {Astro.url.pathname}</h1>
<h1>The current URL origin is: {Astro.url.origin}</h1>
	</main>
</Layout>
