---
import Layout from "../layouts/Layout.astro";
import TimeLine from "../components/TimeLine.astro";
import Card from "../components/Card.astro";
---

<Layout title="Work History">
  <main class="flex h-full flex-col justify-evenly lg:m-4 gap-4">
    <section class=" ">
      <h2 class="font-semibold text-lg"> </h2>
      <!-- <h3>
        Download my full CV <a
          href="https://drive.google.com/file/d/17WPLPMiEajOsMe3lBD0z9x5i3-pheM3j/view?usp=drive_link"
          class="text-blue-900 font-semibold">here</a
        >.
      </h3> -->
    </section> 
    <section class="flex-1 ">
      <TimeLine />
    </section>
  </main>
</Layout>
