---
import Layout from "../layouts/Layout.astro";
import ProfilePicture from "../components/ProfilePicture.astro";
---

<Layout title="Josh McDonald">
  <main class="flex h-full flex-col justify-center">
    <p class="text-center">
      Developer and Solutions Architect.<br />Focusing on Web Application and
      ERP system intergations.<br /><br /> # This Website Is Under Construction.
      #
    </p>
  </main>
  <ProfilePicture slot="left" />
</Layout>
