---
import Layout from "../layouts/Layout.astro";
import ProfilePicture from "../components/ProfilePicture.astro";
---

<Layout title="Josh McDonald">
  <main> 
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est modi beatae rerum amet harum, exercitationem laborum vel quos, vitae blanditiis incidunt quidem iusto nulla! Blanditiis aut repellendus quae itaque nemo.</p>
  </main>   
  <ProfilePicture slot="left"  /> 
</Layout>
