---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Projects / Tools">
  <main class="flex h-full flex-col justify-evenly gap-4 lg:m-4">
    <section class="p-4">
      <h2 class="text-lg font-semibold">Personal Projects</h2>
    </section>
    <ul class="flex flex-1 flex-col gap-2">
      
      <li>
        <Card title="This Site"  >
          <p
            class="mt-1 max-w-2xl text-center text-sm text-gray-900 lg:text-right"
          >
            JoshMc.dev<br /> Built with <a href="#">Astro</a> & <a href="#"
              >TailwindCSS</a
            >. Hosted on <a href="#">Vercel</a>.
          </p>

          <p slot="bottomLeft" class="text-sm font-medium text-gray-500">
            Status: <span class="text-green-600">Active</span>
          </p>
          <a
          slot="bottomRight"
        href="https://github.com/joshymcd/joshmc.dev"
        class="font-medium text-indigo-600 hover:text-indigo-500"
        >Github</a
      >
        </Card>
      </li>

      <!-- <li class="bg-white/60 shadow hover:bg-white/90 lg:rounded-md">
        <div class="px-4 py-5 sm:px-6">
          <div class="flex items-center justify-between">
            <h3 class="text-lg font-medium leading-6 text-black">
              <a href="https://work.joshmc.dev">work.joshmc.dev</a>
            </h3>
            <p class="mt-1 max-w-2xl text-right text-sm text-gray-900">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
              minus architecto, rerum nulla, dolores possimus sapiente quasi
              earum alias dicta deserunt laborum rem nemo suscipit facere animi
              sunt cum fugit?
            </p>
          </div>
          <div class="mt-4 flex items-center justify-between">
            <p class="text-sm font-medium text-gray-500">
              Status: <span class="text-green-600">Active</span>
            </p>
            <a
              href="https://github.com/joshymcd/joshmc.dev"
              class="font-medium text-indigo-600 hover:text-indigo-500"
              >Github</a
            >
          </div>
        </div>
      </li>

      <li class="bg-white/60 shadow hover:bg-white/90 lg:rounded-md">
        <div class="px-4 py-5 sm:px-6">
          <div class="flex items-center justify-between">
            <h3 class="text-lg font-medium leading-6 text-black">
              <a href="#">Asmari</a>
            </h3>
            <p class="mt-1 max-w-2xl text-right text-sm text-gray-900">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
              minus architecto, rerum nulla, dolores possimus sapiente quasi
              earum alias dicta deserunt laborum rem nemo suscipit facere animi
              sunt cum fugit?
            </p>
          </div>
          <div class="mt-4 flex items-center justify-between">
            <p class="text-sm font-medium text-gray-500">
              Status: <span class="text-green-600">Active</span>
            </p>
            <a
              href="https://github.com/joshymcd/joshmc.dev"
              class="font-medium text-indigo-600 hover:text-indigo-500"
              >Website</a
            >
          </div>
        </div>
      </li>
      <li class="bg-white/60 shadow hover:bg-white/90 lg:rounded-md">
        <div class="px-4 py-5 sm:px-6">
          <div class="flex items-center justify-between">
            <h3 class="text-lg font-medium leading-6 text-black">
              <a href="https://work.joshmc.dev">trip.joshmc.dev</a>
            </h3>
            <p class="mt-1 max-w-2xl text-right text-sm text-gray-900">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
              minus architecto, rerum nulla, dolores possimus sapiente quasi
              earum alias dicta deserunt laborum rem nemo suscipit facere animi
              sunt cum fugit?
            </p>
          </div>
          <div class="mt-4 flex items-center justify-between">
            <p class="text-sm font-medium text-gray-500">
              Status: <span class="text-green-600">Active</span>
            </p>
            <a
              href="https://github.com/joshymcd/joshmc.dev"
              class="font-medium text-indigo-600 hover:text-indigo-500"
              >Github</a
            >
          </div>
        </div>
      </li> -->
    </ul>
  </main>
</Layout>
