---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Projects">

	<h1 slot="left">Projects</h1>
	<main>
		 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta labore suscipit maiores corporis deserunt laboriosam iusto earum ipsum alias? Dolorum, aut nemo ad consectetur cupiditate rem. Culpa vel in at!
	</main>
</Layout>
