---
import Layout from "../layouts/Layout.astro";
import FolderKanban from "@lucide/astro/icons/folder-kanban";
---

<Layout>
  <h1
    class="text-3xl font-bold mb-8 text-center flex items-center justify-center gap-2"
  >
    <FolderKanban size={30} transition:name="page-icon" />
    <span transition:name="page-title">Projects</span>
  </h1>
  <p>[Current projects list will go here]</p>
</Layout>
