---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Résumé">

	<h1 slot="left">Résumé</h1>
	<main>
		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores fugit, nesciunt, nulla ipsam aliquid nihil asperiores eveniet, quas autem hic quasi amet expedita optio illo laboriosam debitis corrupti eaque! Illo.
	</main>
</Layout>
