---
import Layout from "../layouts/Layout.astro";
import TimeLine from "../components/TimeLine.astro"; 
---

<Layout title="Work History">
  <main class="flex h-full flex-col justify-evenly gap-4 lg:m-4">
    <section class="flex-1">
      <TimeLine />
    </section>
  </main>
</Layout>
