---
export interface Props {
  title: string;
  index: number;
  url?: string;
}

const { title, url } = Astro.props;
---

<div
  transition:animate="fade"
  class="bg-white/60 px-4 py-5 shadow hover:bg-white/90 sm:px-6 lg:rounded-md"
>
  <div class="flex flex-col items-center justify-between lg:flex-row">
    <h3 class="text-lg font-medium leading-6 text-black">
      <a href={url ?? '#'} class="font-semibold">{title}</a>
    </h3>
    <slot />
  </div>
  <div class="mt-4 flex items-center justify-between">
    <slot name="bottomLeft" />
    <slot name="bottomRight" />
  </div>
</div>
