---  
import { Image } from 'astro:assets';
import picture from '../images/Picture1.jpg';
---

<!-- <div class=" max-w-full max-h-full "> -->
    <Image class="grayscale-[75%] inline-block h-20 w-20 lg:h-72 lg:w-72 object-cover  rounded-full border" src={picture} alt="Profile Picture" />
<!-- </div> -->
