---
interface LineItem {
  title: string;
  time: string;
  description: string;
}

import Card from "../components/Card.astro";

const lineItems: LineItem[] = [
  {
    title: "Senior Software Engineer",
    description:
      "Technical Lead & Software Engineer",
    time: "May 2024 - Present",
  },
  {
    title: "Solutions Architect",
    description:
      "Solution Design & Technical Lead on custom software development projects.",
    time: "July 2022 - April 2024",
  },
  {
    title: "Senior Developer",
    description: "Technical Lead for custom software development projects.",
    time: "April 2018 - June 2022",
  },
  {
    title: "Developer",
    description:
      "Software development and maintenance based around ERP systems.",
    time: "Sept 2016 - March 2018",
  },
  {
    title: "Technical Consultant",
    description: "Technical Consultancy and support for ERP systems.",
    time: "Dec 2010 - Aug 2016",
  },
];
---

<div class="flex flex-col gap-2">
  {
    lineItems.map((v, i) => (
      <Card index={i} title={v.title}>
        <p class="text-sm font-light italic text-gray-600">{v.time}</p>
        <p
          slot="bottomLeft"
          class="mt-1 max-w-2xl text-center text-sm text-gray-900 lg:text-left"
        >
          {v.description}
        </p>
      </Card>
    ))
  }
</div>
