---
import TimeLineItem from '../components/TimeLineItem.astro'
interface LineItem {
    title: string;
    time: string;
    description: string;
}

const lineItems : LineItem[] = [
  {
    title: "Solutions Architect",
    description : "",
    time: "July 2022"
  },
  {
    title: "Senior Developer",
    description : "",
    time: "April 2018"
  },
  {
    title: "Developer",
    description : "",
    time: "Sept 2016"
  },
  {
    title: "Technical Consultant",
    description : "",
    time: "Dec 2010"
  }
]


---   
			<div class="relative col-span-12 px-4 space-y-6 sm:col-span-9">
				<div class="col-span-12 space-y-12 relative px-4 sm:col-span-8 sm:space-y-8 sm:before:absolute sm:before:top-2 sm:before:bottom-0 sm:before:w-0.5 sm:before:-left-3 before:dark:bg-gray-700">
					{
            lineItems.map((v, i, a) =>(
              <TimeLineItem {...v} />
            ))
          }
				</div>
			</div> 